.faq-btn{
    margin:15px;
    margin-top:30px;
}
.faq-headline{
    color:darkblue;
    margin-top:15px;
}
.Deedo-faq{
    display: none;
}
.faq-div{
    margin-left:30%;
    width:40%;
    text-align: left;
    justify-content: center;
}
.faq-text{
    display: flex;
}
.faq-header{
    margin-bottom: 20px;
}