.user-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    border: 2px SteelBlue solid;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    max-width: 500px;
    justify-content: center;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: 2px SteelBlue solid;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    max-width: 300px;
    min-width:160px;
    height: 100px;
    justify-content: center;
}
.deedlist-deed{
    color: darkred;
}

.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box !important;
}
.profile-headline{
    color:black;
    margin-top:15px;
}

* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }