body{
    text-align: center;
}
.deedsdone-title {
    color: #E06B0B;
}
.deedsdone-headline-container {
    margin: 2rem auto;
}
.deedsdone-pts-earned {
    color: #0081AF;
}
.history-page-container {
    max-width: 100%;
}
.history-items-container {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}
.deed-card {
    max-width: 100%;
    margin: 0 15px 15px 15px;
}