body{
    text-align: center;
}

.deedsdone-headline{
    color: darkblue;
    margin-top:15px;
}
.deedsdone-title {
    color: #E06B0B;
}
.deedsdone-headline-container {
    margin: 2rem auto;
}
.deedsdone-pts-earned {
    color: #0081AF;
}