.singout-btn{
    position: absolute;
    top: 2%;
    left: 92%;
    
}
@media only screen and (max-width: 995px) {
    .singout-btn {
        margin-left: -56%;
    }
  }

.logo-img{
    width: 25%;
    object-fit: contain;
    align-self: center;
}

.home-container{
    margin-top: 10%;
    max-width: 75%;
    margin-left: 10%;
    border-radius: 15%;
}